.navbar {
  background-color: #04009A;
}

.nav-link, .nav-brand {
  color: #c0fefc;
  cursor: pointer;
}

.nav-link{
  margin-right: 1em;
}

.nav-brand{
  margin-left: 1em
}

.navbar-toggler {
  background-color: #77acf1;
  margin-right: 3%;
}

.navbar-collapse {
  margin-left: 1em
}

.header {
  background-image: url("img.jpg");
}

.bg{
  width= 100%;
  height: 100%
}
